<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
  <dict>
    <!-- 名称，要全局唯一 -->
    <key>Label</key>
    <string>deploys.markasread.sms</string>

    <!-- 要运行的程序， 如果省略这个选项，会把ProgramArguments的第一个
    元素作为要运行的程序 -->
    <key>Program</key>
    <string>{{ markasread_file }}</string>

    <!-- 运行间隔，与StartCalenderInterval使用其一，单位为秒 -->
    <key>StartCalendarInterval</key>
    <dict>
      <key>Day</key>
      <integer>7</integer>
    </dict>

    <key>Debug</key>
    <false/>

    <!-- 标准输出文件 -->
    <key>StandardOutPath</key>
    <string>{{ log_path }}/{{ project_name }}.log</string>

    <!-- 标准错误输出文件 -->
    <key>StandardErrorPath</key>
    <string>{{ log_path }}/{{ project_name }}_err.log</string>
  </dict>  
</plist>
